.header {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(110, 211, 224);
}
